#table {
	position: relative;
}

#players {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

#player_1, #player_2 {
	position: relative;
	left: 408px;
	width: 100px;
}

#player_1 {
	top: 420px;
}

#player_2 {
	top: 13px;
}

#p1, #p2 {
	position: relative;
	left: 31px;
}

#p1_username, #p2_username {
	display: none;
	height: 30px;
	color: white;
}

#p1c1, #p1c2, #p1_cash, #p1_stack, #p1_bet {
	position: absolute;
	bottom: 33px;
	width: 41px;
	height: 54px;
}

#p1c1, #p2c1 {
	left: 40px;
}

#p1c2, #p2c2 {
	left: 75px;
}

#p1_cash, #p2_cash {
	height: 30px;
	left: 178px;
	color: white;
}

#p2c1, #p2c2, #p2_cash, #p2_stack, #p2_bet {
	position: absolute;
	width: 41px;
	height: 54px;
}

#p1_stack, #p2_stack, #p1_bet, #p2_bet {
	left: 145px;
	height: 30px;
	width: 30px;
}

#p1_bet, #p2_bet {
	color: white;
	margin: 30px 0px;
}

#flip_1, #flip_2, #flip_3, #turn, #river {
	position: absolute;
	top: 222px;
	width: 41px;
	height: 54px;
}

#flip_1 {
	left: 381px;
}

#flip_2 {
	left: 423px;
}

#flip_3 {
	left: 464px;
}

#turn {
	left: 512px;
}

#river {
	left: 555px;
}

#deal {
	display: none;
	position: absolute;
	left: 456px;
	top: 300px;
}

#login {
	display: none;
	position: fixed;
	top: 55px;
	left: 369px;
	z-index: 40;
	width: 266px;
	height: 216px;
	padding: 0px 15px;
	background: white;
	border: 1px solid black;
}

.close {
	position: absolute;
	right: 5px;
}

#confirm_login {
	position: absolute;
	left: 75px;
	bottom: 15px;
}

#pot {
	position: absolute;
	left: 610px;
	top: 291px;
	height: 30px;
	width: 30px;
	color: white;
}

#p1_betPopup, #p2_betPopup, #p1_winPopup, #p2_winPopup {
	position: absolute;
	display: none;
	width: 133px;
	border: 1px solid black;
	padding: 0px 10px 10px 10px;
	background: white;
}

#p1_betPopup, #p1_winPopup {
	bottom: 94px;
}

#p2_betPopup, #p2_winPopup {
	top: 82px;
}

#p1_betAmount, #p2_betAmount {
	width: 50%;
}

#main_menu {
	position: fixed;
	left: 360px;
	top: 75px;
	z-index: 40;
	width: 250px;
	border: 1px solid grey;
	border-radius: 20px;
	padding: 25px 0px;
	background-color: white;
}

#single_player, #multi_player {
	width: 190px;
	margin: 15px;
	padding: 15px;
}

button, button:hover {
	border-radius: 10px;
	background-color: lightskyblue;
	text-align: center;
}

button:hover {
	background-color: #87ddfa;
}

button:disabled, button[disabled] {
	background-color: grey;
}